
@font-face{
    font-family: 'Scada', sans-serif;
    font-family:'Titillium Web', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    }
body, form {
    background-color: lightgray;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
button, select {
    color: white;
}
section {
    padding: 30px;
    border: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}
h1{
    padding: 10px;
    font-size: 48px;
}
h2 {
    font-size: 36px; 
}
h3 {
    padding-bottom: 10px;
    font-size: 30px;
    font-style: bold;
}
h4 {
    font-size: 20px;
    padding-left: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight:400;
}
a {
    color: #23b5d3;
}
a.internal {
    text-decoration: none;
}
a:visited  {
    color: #23b5d3;
}
a:hover{

    color: white;

}
form {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}
.main {
    margin: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}
.img-container {
    display: flex;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}
.child {
    height: 300px;
    width: 300px;
    margin: 5px;
    padding: 20px;
    background-color: #23B5D2;
}
.dropbtn {
  background-color: gray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.single {
    margin: 200px auto;
    width: 600px;
    height: 600px;
    font-size: 36px;
}
#nav_bar {
    top: 0;
    background-color: black;
    padding-bottom: 0;
    padding-top: 15px;
}
#protest_menu {
    background-color: #23B5D2;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#title {
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
}
#upcoming{
    margin: 30px;
}
#events {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}